.About {
  padding-top: 48px;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  text-align: center;
}

/* Table */
.About-table {
  width: 76%;
  margin: 0 auto;
}
.About-traw {
  display: flex;
  padding: 4px;
}
.About-traw > th {
  display: inline-block; /* for IE11 */
  flex-basis: 32%;
  font-size: 0.94em;
  text-align: right;
}
tbody .About-traw > th::after {
  content: ':';
}
.About-traw > td {
  display: inline-block; /* for IE11 */
  flex-grow: 1;
  font-weight: 500;
}

/* Further */
.About-further {
  width: 84%;
  margin: 0 auto;
  margin-top: 32px;
  padding: 6px;
  background-color: ghostwhite;
  border: 1px solid #555;
  border-radius: 6px;
}

.About-further a {
  color: rgb(18, 88, 168);
  font-weight: 500;
}
.About-further a:hover {
  text-decoration: underline;
}
.About-hashs {
  display: block;
  margin: 6px 0 2px;
  word-spacing: 6px;
  color: #999;
  font-size: 0.9em;
}
