.AppHeader {
  display: flex;
  justify-content: space-between;
}

.AppHeader-button {
  width: 36px;
  height: 36px;
  transition: background-image 0.2s ease-out;
}

.AppHeader-logo {
  margin: 0 auto;
}
.AppHeader-logo a:hover {
  opacity: 1;
}

/* .AppHeader-nav {} */
.AppHeader-nav a {
  font-size: 0.8em;
}
.AppHeader-nav a:hover {
  opacity: 0.9;
  text-decoration: underline;
}

/* MEDIA */
@media only screen and (min-width: 620px) {
  .AppHeader-button {
    visibility: hidden;
  }
}
