@use '../styles/mixins';
@use '../styles/vars';

.AppHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1[class='visually-hidden'] {
    display: none;
  }

  .AppHeader-button {
    @include mixins.button(icon);
    width: 40px;
    height: 40px;
  }

  .AppHeader-nav {
    > a {
      display: block;
      width: 24px;
      height: 24px;
      position: relative;
      opacity: 0.5;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

/* MEDIA */
@media only screen and #{vars.$desk} {
  .AppHeader-button {
    visibility: hidden;
  }

  // Tooltip
  .AppHeader-nav {
    > a {
      &::after {
        visibility: hidden;
        content: attr(data-tooltip);
        position: absolute;
        right: 108%;
        top: 20%;
        display: block;
        font-size: vars.$small-font-size;
        pointer-events: none;
        white-space: nowrap;
      }
      &:hover {
        &::after {
          visibility: visible;
          animation: slide-left 0.2s ease-out forwards;
        }
      }
    }
  }
}
