.AppSidebarMyLists {
  position: relative;
}
.AppSidebarMyLists-list {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 6px;
  padding: 8px;
  background-color: ghostwhite;

  overflow-y: scroll;
  overscroll-behavior: none;

  counter-reset: list;
}
.AppSidebarMyLists-item {
  padding: 0 4px;
}
.AppSidebarMyLists-item:not(:last-child) {
  margin-bottom: 16px;
}

.AppSidebarMyLists-name {
  float: left;
  font-size: 1.1em;
  font-weight: 500;
}
.AppSidebarMyLists-name::before {
  counter-increment: list;
  content: counter(list) '. ';
}
.AppSidebarMyLists-name > span {
  opacity: 0.6;
  font-size: 0.7em;
}

.MyList-button {
  float: right;
}

/* .AppSidebarMyLists PLACELIST */
.AppSidebarMyLists-PlaceList {
  clear: both;
  margin-left: 20px;
  border-radius: 6px;
  background-color: #dce7e7;
  counter-reset: list-item;
}
.AppSidebarMyLists-PlaceList .PlaceList-item:nth-of-type(even) {
  background-color: rgba(165, 165, 165, 0.144);
}
.AppSidebarMyLists-PlaceList .PlaceList-item::after {
  clear: both;
  content: '';
  display: block;
}
.AppSidebarMyLists-PlaceList .PlaceList-name {
  line-height: 1.4;
  font-weight: 500;
}
.AppSidebarMyLists-PlaceList .PlaceList-name::before {
  content: '(' counter(list-item) ') ';
  font-size: 0.8em;
}
.AppSidebarMyLists-PlaceList .PlaceList-address {
  float: right;
  width: 50%;
  height: 1.4em;
  overflow: hidden;
}
.AppSidebarMyLists-PlaceList .PlaceList-address::before {
  padding-left: 8px;
  content: '주소 ';
  font-size: 0.8em;
  color: #555;
}
.AppSidebarMyLists-PlaceList .PlaceList-item a:hover {
  text-decoration: underline;
}
.AppSidebarMyLists-PlaceList .PlaceList-icon {
  display: none;
}
.AppSidebarMyLists-PlaceList .PlaceList-address span {
  display: none;
}

@media only screen and (max-width: 620px) {
  .AppSidebarMyLists-PlaceList .PlaceList-address {
    float: left;
    width: unset;
  }
}
