.AppSidebarNewList {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.AppSidebarNewList-input {
  width: 58%;
  line-height: 28px;
  text-align: center;
  background-color: rgba(245, 245, 245, 0.9);
  border-radius: 4px;
}
.AppSidebarNewList-input::placeholder {
  opacity: 0.6;
  font-size: 0.9em;
  line-height: 1.2em;
}

.AppSidebarNewList-button {
  width: 80%;
}

.AppSidebarNewList .PlaceList {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 44px 0;
  padding: 0 4px;
  background-color: ghostwhite;
  border-radius: 6px;

  overflow-y: scroll;
  overscroll-behavior: none;
}

.AppSidebarNewList .PlaceList li {
  margin: 4px 0;
  box-shadow: unset;

  animation: rise-up 0.3s ease-out;
}
