.AppSidebar {
  display: flex;
  flex-direction: column;

  /* Header */
  .AppSidebar-header {
    display: flex;
    justify-content: center;
    > .MenuList {
      width: 100%;
    }
  }

  /* Main */
  .AppSidebar-main {
    flex: 1 0 auto;
    padding: 16px 0 12px;

    display: flex;
    flex-direction: column;
    > .AppSidebar-contents {
      flex: 1 0 auto;
      > div {
        // MyList, NewList
        height: 100%;
      }
    }
  }
}
