@use '../styles/mixins';
@use '../styles/vars';

.AppSidebarMyLists {
  position: relative;

  .AppSidebarMyLists-list {
    @include mixins.no-scrollbar;
    @include mixins.full-absolute;
    padding: 8px;
    background-color: ghostwhite;
    border-radius: 6px;
    counter-reset: list;

    .AppSidebarMyLists-item {
      padding: 0 4px;
      animation: rise-up_short 0.2s ease-out;
      &:not(:last-child) {
        margin-bottom: 16px;
      }

      .AppSidebarMyLists-name {
        float: left;
        &::before {
          counter-increment: list;
          content: counter(list) '. ';
        }
        > span {
          opacity: 0.5;
          font-size: 0.7em;
        }
      }

      .AppSidebarMyLists-removeBtn {
        float: right;
        width: 20px;
        height: 20px;
        background-color: lightgray;
        border-radius: 4px;
        &:hover {
          opacity: 0.8;
        }
      }
    }

    /* Placlist */
    .AppSidebarMyLists-PlaceList {
      clear: both;
      margin-left: 20px;
      font-size: 0.88em;
      color: #333;
      border-radius: 6px;
      background-color: vars.$background-color;
      counter-reset: list-item;
      .PlaceList-item {
        @include mixins.clear-fix;
        padding: 4px;
        &:nth-of-type(even) {
          background-color: darken(vars.$background-color, 4%);
        }

        .PlaceList-title {
          &::before {
            content: '(' counter(list-item) ') ';
            font-size: 0.76em;
          }
        }

        .PlaceList-address {
          float: right;
          width: 50%;
          font-size: 0.94em;
          color: #555;
          overflow: hidden;
          &::before {
            @include mixins.minor-text;
            padding-left: 12px;
            content: '주소 ';
          }
        }

        .PlaceList-icon,
        .PlaceList-address span {
          display: none;
        }

        // Media
        @media only screen and #{vars.$mobile} {
          .PlaceList-address {
            float: left;
            width: unset;
          }
        }
      }
    }
  }
}
