.AppSidebar {
  display: flex;
  flex-direction: column;
}

/* HEADER */
.AppSidebar-header {
  margin-bottom: 12px;
  display: flex;
  justify-content: center;
}
.AppSidebar-header .Filter {
  width: 180px;
}

/* MAIN */
.AppSidebar-main {
  flex-grow: 1;
  padding: 12px 0;
}
