@use '../../common/styles/mixins';

.AppSidebarNewList {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  .AppSidebarNewList-input {
    @include mixins.placeholder;
    width: 58%;
    line-height: 28px;
    text-align: center;
    background-color: transparent;
    border-bottom: 1px solid gray;
  }
  .AppSidebarNewList-button {
    @include mixins.button(text);
    width: 80%;
  }

  .PlaceList {
    @include mixins.no-scrollbar;
    @include mixins.full-absolute;
    width: 100%;
    margin: 44px 0;
    padding: 0 4px;
    background-color: ghostwhite;
    border-radius: 6px;
    li {
      margin: 4px 0;
      box-shadow: unset;
      animation: rise-up 0.3s ease-out;
    }
  }
}
