.Clock {
  color: #666;
  .Clock-date {
    display: inline-block;
    margin-right: 6px;
    font-size: 0.74em;
  }
  .Clock-time {
    display: inline-block;
    letter-spacing: 1px;
    font-size: 0.94em;
  }
}
