.Dialogue {
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.Dialogue-box {
  position: relative;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  max-width: 320px;
  padding: 6px;
  background-color: ghostwhite;
  border-radius: 4px;
  box-shadow: 3px 3px 3px #3f3f3f;
}
.Dialogue-box::after {
  display: block;
  content: '';
  clear: both;
}

/* Message */
.Dialogue-message {
  margin-bottom: 8px;
}
.Dialogue-title {
  display: block;
  margin-bottom: 4px;
  font-size: 0.88em;
  font-weight: 600;
}
.Dialogue-body {
  display: block;
  font-size: 0.96em;
}

/* Button */
.Dialogue-removeBtn {
  float: right;
  padding: 2px 4px;
  margin-right: 4px;
}
.Dialogue-cancleBtn {
  float: right;
  background-color: rgb(224, 224, 224);
  padding: 2px 4px;
}
.Dialogue-cancleBtn:hover {
  background-color: rgb(200, 200, 200);
}

/* @media */
@media only screen and (min-width: 620px) {
  .Dialogue-box {
    max-width: 400px;
    padding: 8px;
    font-size: 1.1em;
  }
}
