@use '../styles/vars';

.FilterList {
  display: flex;
  justify-content: space-between;

  .FilterList-item,
  %FilterList-item {
    font-size: vars.$small-font-size;

    &_active {
      @extend %FilterList-item;
      color: vars.$accent-text-color;
      font-weight: vars.$bolder;
    }

    &:hover button {
      transition: color 0.2s;
      color: vars.$accent-text-color;
    }
  }
}
