@use '../styles/mixins';
@use '../styles/vars';

.PlaceList {
  .PlaceList-item {
    @include mixins.clear-fix;
    position: relative;
    z-index: 0;
    padding: 4px;
    font-size: 0.94em;
    background-color: vars.$background-color;
    border-radius: 6px;
    box-shadow: vars.$box-shadow;
    a:hover {
      text-decoration: underline;
    }
  }

  .PlaceList-icon {
    @include mixins.absolute-center;
    z-index: -1;
    background-color: lightgray;
    border-radius: 10px;
  }

  .PlaceList-title {
    margin-bottom: 4%;
    text-align: center;
    font-weight: vars.$bold;
    overflow: hidden;
  }

  .PlaceList-address {
    float: left;
    font-size: vars.$small-font-size;
    > span {
      display: block;
      @include mixins.minor-text;
    }
  }

  .PlaceList-btn {
    float: right;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: vars.$accent-color;
    // bg_icon
    background-size: 24px 24px;
    &:hover {
      opacity: 0.8;
    }
    // only button that containing 'bg_added'.
    &[class~='bg_added'] {
      opacity: 0.8;
      animation: fall-down 0.4s ease-out forwards;
      background-color: transparent;
    }
  }
}
