/* .PlaceList {
  border: 1px solid #000;
} */

.PlaceList .PlaceList-item {
  background-color: #dce7e7;
  border-radius: 6px;
  box-shadow: 3px 3px 2px #b8b8b8;
  position: relative;
  z-index: 0;
  padding: 4px;
}
.PlaceList .PlaceList-item::after {
  display: block;
  content: '';
  clear: both;
}
.PlaceList .PlaceList-item a:hover {
  text-decoration: underline;
}

.PlaceList .PlaceList-icon {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d6d6d6;
  border-radius: 12px;
}

.PlaceList .PlaceList-name {
  height: 1.4em;
  overflow: hidden;
  margin-bottom: 4%;
  text-align: center;
  font-weight: 500;
  font-size: 0.94em;
}
.PlaceList .PlaceList-address {
  float: left;
  line-height: 1.1;
  font-size: 0.9em;
  color: #222;
}

.PlaceList .PlaceList-btn {
  float: right;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #5ac1db;

  /* transition: 0.1s; */
  opacity: 0.7;
}
.PlaceList .PlaceList-btn:hover {
  opacity: 1;
}
