@use '../../../common/styles/vars';

.HomeIntro {
  padding: 12px;
  line-height: 1.6;
  font-size: vars.$small-font-size;
  color: #555;
  background-color: vars.$background-sub-color;
  border-radius: 6px;
  box-shadow: vars.$box-shadow;
  animation: rise-up 0.4s ease-out;
}
