.HomeMain-message {
  animation: rise-up 1s;
  width: 100%;
  text-align: center;
  text-decoration: underline;
}

/* HomeMain */
.HomeMain {
  padding: 8px;
  animation: fade-in 1s;

  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  .HomeArticle:first-of-type {
    margin-bottom: 28px;
  }
}
