/* LAYOUT */
body {
  background-color: #dbe2e2;
}
.App {
  min-height: 100vh;
  padding-top: 65px; /* AppHeader height, AppSidebar margin */
  background-color: #dbe2e2;
  position: relative; /* for Footer */
}

.AppHeader {
  position: fixed;
  z-index: 9;
  left: 0;
  top: 0;
  width: 100%;
  height: 65px;
  padding: 12px;
  background-color: #a9c0c4;
  border-bottom: 1px solid #6d8a8f;
}

.AppSidebar {
  position: fixed;
  left: -100vw;
  z-index: 9;
  width: 100vw; /* actual: 100vw + 1px */
  border-right: 1px solid #6d8a8f; /* IE11 bug: blinking black box(=AppSidebar's after area) when first render, FIX: avoid overlapping with exactly same width(100vw) and left */
  height: calc(100vh - 65px);
  padding: 12px;
  background-color: #a9c0c4;
  transition: transform 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}
.AppSidebar::after {
  position: absolute;
  left: 100%;
  bottom: 0;
  display: block;
  width: 100%; /* actual: 100vw + 1px */
  margin-left: 1px; /* IE11 bug: blinking black box(=AppSidebar's after area) when first render, FIX: avoid overlapping with exactly same width(100vw) and left */
  height: inherit;
  content: '';
  pointer-events: none;
  background-color: black;
  transition: opacity 0.8s;
}
/*  Mobile of AppSidebar */
@media only screen and (max-width: 620px) {
  .AppSidebar_hide__mobile {
    transform: translateX(0);
  }
  .AppSidebar_hide__mobile::after {
    opacity: 0;
  }
  .AppSidebar_show__mobile {
    transform: translateX(100%);
  }
  .AppSidebar_show__mobile::after {
    opacity: 0.34;
  }
}

/* Pages common */
.App > main {
  margin-top: 28px;
  padding-bottom: 50px; /* for Footer */
}

/* absolute positioning because not working setting footer at the bottom with flex in IE11 */
.AppFooter {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  pointer-events: none;
}
.AppFooter p {
  position: absolute;
  bottom: 0;
  pointer-events: all;
}

/* Media */
@media only screen and (min-width: 620px) {
  html {
    font-size: 100%;
  }
  .App {
    margin-left: 34vw;
  }
  .AppSidebar {
    width: 34vw;
    left: 0;
    transition: none;
  }
  .AppSidebar::after {
    display: none;
  }
}
